.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  padding: 0.5rem;
  margin-right: 10px;
  background-color: gainsboro;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: wheat;
}
ul {
  list-style: none;
  display: inline-block;
}
li {
  padding: 15px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: #d4d4d4;
  display: block;
}
div {
  margin-bottom: 5px;
}
